/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: sans-serif;
   color: #131313;
   padding: 5%;
 }

 html {
  --s: 160px; /* control the size*/
  --c1: #d3e2b6;
  --c2: #aaccb1;

  background:
    conic-gradient(at 25% 25%,#0000 75%,var(--c1) 0)
     0 calc(3*var(--s)/4),
    conic-gradient(#0000 75%,var(--c2) 0)
     calc(var(--s)/-8) calc(5*var(--s)/8),
    conic-gradient(at 25% 75%,var(--c1) 25%,var(--c2) 0);
  background-size: var(--s) var(--s);
}
